<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Thomas Windsor</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/variables.css">
</head>
<body>
    <header>
      <nav class="nav">
        <div class="nav-container">
          <a class="highlighted-text" href="/">Home</a>
          <a class="highlighted-text" href="/gallery/">Gallery</a>
          <a class="highlighted-text" href="/about/">About</a>
          <a class="highlighted-text" href="/contact/">Contact Us</a>
        </div>
      </nav>
    </header>
    
    <main>
        {{ content | safe }}
    </main>

    <section class="social section">
      <h2 class="social-heading heading">Follow Thomas Windsor</h2>
      <div class="social-container container">
        <a
          target="_blank"
          rel="noopener noreferrer"
          class="social-link"
          href="https://www.instagram.com/thomaswindsorstudio/?hl=en"
        >
          <img
            class="social-img"
            src="/assets/images/instagram.png"
            alt="Instagram"
          />
        </a>

        <a
          target="_blank"
          rel="noopener noreferrer"
          class="social-link"
          href="https://www.youtube.com/@Thomas_Windsor"
        >
          <img
            class="social-img"
            src="/assets/images/youtube.png"
            alt="Youtube"
          />
        </a>

        <a
          target="_blank"
          rel="noopener noreferrer"
          class="social-link"
          href="https://www.facebook.com/thomaswindsorstudio/?locale=en_GB"
        >
          <img
            class="social-img"
            src="/assets/images/facebook.png"
            alt="Facebook"
          />
        </a>

        <a
          target="_blank"
          rel="noopener noreferrer"
          class="social-link"
          href="https://www.tiktok.com/@thomas_windsor"
        >
          <img
            class="social-img"
            src="/assets/images/tiktok.png"
            alt="Tiktok"
          />
        </a>
      </div>
    </section>
    
    <footer>
      <p>© 2025 Thomas Windsor</p>
    </footer>
</body>
</html>