/* components */
a,
p {
  font-family: var(--font-two);
  font-size: 2rem;
}

a {
  font-weight: 900;
  color: var(--color-one);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-one);
}

.heading {
  padding: 2rem;
}

.highlighted-text {
  position: relative;
  display: inline-block; /* important - makes ::after position correctly */
}

.highlighted-text::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 10px;
  background-image: url('../images/thick-underline.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  filter: invert(1);
}

h1 {
  font-size: 4.6rem;
}
h2 {
  font-size: 3.8rem;
}
h3 {
  font-size: 3.2rem;
}
h4 {
  font-size: 2.8rem;
}
h5 {
  font-size: 2.6rem;
}
h6 {
  font-size: 2.2rem;
}

button {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--color-three);
  color: #ffffff;
  font-size: 2rem;
  margin: 2rem;
}

.section {
  margin-inline: 4rem;
  margin-block: 8rem;
}

.container {
  padding-block: 2rem;
}

/* header */
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}

/* hero */
.hero {
  background-image: url('../images/canvas-background.jpg');
  background-repeat: repeat;
  background-size: contain;
  border: 1rem solid #282828;
}

.hero-container {
  display: grid;
  grid-template-rows: 1fr, 2fr;
  grid-template-columns: 1fr, 2fr;

  padding-inline: 2rem;
  padding-block: 8rem;
}

.hero-image {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  margin: auto;
  border: 2rem solid #ffffff;

  grid-row: 1/3;
  grid-column: 1/2;
}

.hero-title {
  grid-row: 1/2;
  grid-column: 2/3;

  display: flex;
  justify-content: center;
  align-items: end;
}

.hero-text {
  grid-row: 2/3;
  grid-column: 2/3;

  font-size: 2.5rem;
}

/* painting-therapy */
.painting-therapy {
  background-color: var(--color-three);
  color: var(--color-white);
}

.video-container {
  width: 50vw;
  aspect-ratio: 16 / 9; /* modern CSS, much cleaner */
  margin: 0 auto; /* centers it */
  position: relative;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* featured art */
.featured-art {
  margin-inline: 0;
}

.featured-art-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

  width: 100vw;
}

div.featured-art-one div.featured-art-info {
  background: #513333;
  opacity: 0.8;
}

.featured-art-two .featured-art-info {
  background: #2d3e45;
  opacity: 0.8;
}

.featured-art-three .featured-art-info {
  background: #51203b;
  opacity: 0.8;
}

.featured-art-four .featured-art-info {
  background: #3d2d42;
  opacity: 0.8;
}

.featured-art-five .featured-art-info {
  background: #32504f;
  opacity: 0.8;
}

.featured-art-six .featured-art-info {
  background: #3a3d2c;
  opacity: 0.8;
}

.featured-art-title,
.featured-art-price {
  color: #ffffff;
}

.featured-art-img {
  width: 100%;
  aspect-ratio: 9 / 10;
  object-fit: cover;
}

div.featured-art-container > * {
  display: flex;
  flex-direction: column;
  flex: 1 1 30rem;
  margin: 2rem;
}

/* card */
.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card {
  background-color: #f2f0f2ef;
  width: 20vw;
  height: 35rem;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card p {
  flex: 1;
}

.card h5 {
  height: 5.5rem;
}

.card-img {
  width: 80%;
}

/* social */
.social-img {
  width: 5rem;
  height: 5rem;
}
